@font-face 
	font-family: 'Firs'
	src: url('../fonts/TTFirsNeue-Thin.woff2') 
	src: url('../fonts/TTFirsNeue-Thin.woff')
	src: url('../fonts/TTFirsNeue-Thin.ttf')
	font-weight: 200

@font-face 
	font-family: 'Firs'
	src: url('../fonts/TTFirsNeue-Light.woff2') 
	src: url('../fonts/TTFirsNeue-Light.woff')
	src: url('../fonts/TTFirsNeue-Light.ttf')
	font-weight: 300

@font-face 
	font-family: 'Firs'
	src: url('../fonts/TTFirsNeue-Regular.woff2') 
	src: url('../fonts/TTFirsNeue-Regular.woff')
	src: url('../fonts/TTFirsNeue-Regular.ttf')
	font-weight: 400


