@import "vars"
@import "libs"
@import "fonts"

// ---- GLOBAL ----

@mixin flex
    display: -webkit-box
    display: -webkit-flex
    display: -ms-flexbox
    display: flex

html
    box-sizing: border-box

*,*::before,*::after
    box-sizing: inherit

*
    outline: none !important
    font-family: 'Firs', sans-serif

a
    text-decoration: none !important
    outline: none !important

h1,h2,h3,h4,h5,h6
    margin: 0

p
    margin: 0

section
    padding-top: 200px
.products
    padding-top: 50px

.title
    margin-bottom: 50px
    font-weight: 400
    font-size: 24px
    color: $black

.arrow-slider
    background-color: #000
    width: 40px
    height: 40px
    border-radius: 100%
    border: none
    position: absolute
    top: calc( 50% - 20px )
    transition: 0.3s
    &:hover
        background-color: white

.arrowLeft-slider
    left: -50px

.arrowRight-slider
    right: -50px

// ---- Main page ----

.header
    padding: 22px 0

.main
    height: 100vh
    &__inner
        padding: 10vh 0 0 0
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
    &__video
        width: 100%
        display: flex
        justify-content: center
        video 
            width: 60%
    &__title
        margin-top: 50px
        font-size: 36px
        line-height: 44px
        text-align: center
        font-weight: 300
        color: $black
        width: 50%

.products
    &__items
        display: flex
        flex-wrap: wrap
    &__item
        margin-right: 2.7%
        width: 31.5%
        margin-bottom: 50px
        &:nth-child(3n)
            margin-right: 0
    &__link
        position: relative
        margin-bottom: 20px
        display: block
        background: $black
        overflow: hidden
        transition: 0.3s
        &:hover
            .products__img
                opacity: 0.4
            .products__transition
                opacity: 1
    &__img
        transition: 0.3s
        opacity: 1
        height: 395px
        width: 100%
        object-fit: cover
        object-position: center
    &__transition
        position: absolute
        z-index: 100
        top: calc( 50% - 30px )
        left: calc( 50% - 30px )
        transform: (-50%,-50%)
        opacity: 0
        transition: 0.3s
        img
            width: 50px
            height: 50px
            z-index: 105
            padding: 10px
        span
            // width: 100%
            // height: 1px
            // display: block
            // position: absolute
            // background-color: #fff
            z-index: 103

    &__title
        font-weight: 300
        font-size: 18px
        color: $black
    
    &__category
        color: $grey
        font-size: 14px
        p 
            display: inline-block

.words
    &_cover
        overflow: hidden
        &_block
            margin-bottom: 99px
            width: 7000px
            position: relative
            transition: 0.4s
            right: 3500px
            img
                display: inline-block
                margin-left: 200px
                &:nth-child(1)
                    margin-left: 0
            &:nth-child(3)
                margin-bottom: 0

.advert
    &__sliders
        margin: 0 -15px
    &__slider
        margin: 0 15px
        width: 350px
    &__item
        width: 350px
    &__img
        img
            width: 350px
            object-fit: cover
            object-position: center
    &__title
        margin-top: 30px
        font-weight: 200
        font-size: 20px
        line-height: 24px
        color: $black
    &__date
        margin-top: 30px
        font-weight: 300
        font-size: 16px
        color: $black

.footer
    background-color: #000
    padding: 100px 0
    margin-top: 200px
    color: $white
    &__suptitle
        font-weight: 200
        font-size: 20px
        margin-bottom: 40px
        text-align: center
    &__title
        font-weight: 300
        font-size: 36px
        text-align: center
        width: 60%
        display: block
        margin: 0 auto
    &__wrap
        margin-top: 150px
        display: flex
        justify-content: space-between
    &__socials
        display: flex
        align-items: center
    &__social
        & + .footer__social
            margin-left: 40px
    &__link
        font-weight: 400
        font-size: 20px
        color: $white !important

@import "media"
